.tableEdit {
    width:100%;
    table-layout: fixed;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin-bottom: 20px;
}
.tableEdit thead {
    background: -webkit-linear-gradient(to bottom left, #ffffff, rgba(92, 184, 92, 0.03));
    background: linear-gradient(to bottom left, #ffffff, rgba(92, 184, 92, 0.03));
}
.tableEdit tfoot {
    background: -webkit-linear-gradient(to top left, #ffffff, rgba(92, 184, 92, 0.03));
    background: linear-gradient(to top left, #ffffff, rgba(92, 184, 92, 0.03));
}
.tableEdit tbody tr {
    border-bottom: 1px solid #ddd;
}
.tableEdit td, .tableEdit th {
    padding: 18px 24px;
}
.tableEdit tfoot th, .tableEdit tfoot td, .tableEdit thead tr:not(:first-child) th, .tableEdit thead tr:not(:first-child) td {
    border-top: 1px solid #ddd;
    vertical-align: top;
}
.tableEdit tbody td, .tableEdit tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
}
.tableEdit tbody th {
    padding-top: 21px;
    padding-bottom: 21px;
}
.tableEdit .addCol, .tableEdit .addrow {
    position: relative;
    color: #2196f3;
    margin-right: 12px;
}
.tableEdit .delCol, .tableEdit .delrow {
    position: relative;
    color: #f44336;
}
.tableEdit .addCol:before, .tableEdit .addrow:before, .tableEdit .delCol:before, .tableEdit .delrow:before {
    content: '';
    position: absolute;
    top: -4px; right: -4px;
    bottom: -4px; left: -4px;
}
@keyframes pulsar {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    70% {
        transform: scale3d(0.8, 0.8, 0.8);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
.tableEdit .addCol:hover span, .tableEdit .addrow:hover span, .tableEdit .delCol:hover span, .tableEdit .delrow:hover span {
    animation-name: pulsar;
    animation-duration: 0.4s;
}
.tableEdit textarea {
    border: 0;
    background-color: #ecf2fd;
    width: 100%;
    padding: 0;
    resize: none;
    outline: none;
    -moz-appearance: none;
    overflow: hidden;
}
.tableEdit textarea:focus {
    outline: none;
}
.tableEdit .edit-cell {
    outline: #4d90fe solid 1px;
    background-color: #ecf2fd !important;
}
.edit-cell-content {
    padding: 5px;
    position: absolute;
    background-color: rgba(2, 88, 248, 0.3);
    box-shadow: 5px 1px 30px -15px #000000;
}
